body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.logo-text {
    font-family: 'Poiret One', cursive;
    font-size: 48pt;
    color: #0070c0;
}

.tagline-text {
    font-size: 18pt;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

.section-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4px 0;
}

.logo-img {
    height: 250px;
}

.form-container {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.waitlist-field {
    border: none;
    border-bottom: solid #333 1px;
    color: #333;
    font-size: 14pt;
    padding: 4px 0;
    margin: 4px 0;
    outline: none;
}

.waitlist-submit {
    width: 100%;
}

.footer-text {
    font-size: 11pt;
}

@media screen and (max-width: 600px) {

}